/algos/algos.iml
/sampleprgms.iml
/algos/target/algos-0.0.1-SNAPSHOT.jar
/algos/target/maven-archiver/pom.properties
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_14.xml
/.idea/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_68.xml
/.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_68.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_5_1.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_commons_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_config_client_3_0_4.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_context_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_config_3_0_4.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_5_0.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_rsa_1_0_10_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_8.xml
/micro-service/microservice.iml
