/algos/algos.iml
/sampleprgms.iml
/algos/target/algos-0.0.1-SNAPSHOT.jar
/algos/target/maven-archiver/pom.properties
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_14.xml
/.idea/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_68.xml
/.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_68.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_5_1.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_commons_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_config_client_3_0_4.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_context_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_config_3_0_4.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_5_0.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_rsa_1_0_10_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_8.xml
/micro-service/microservice.iml
/.idea/libraries/Maven__com_googlecode_javaewah_JavaEWAH_1_1_6.xml
/.idea/libraries/Maven__com_jcraft_jsch_0_1_55.xml
/.idea/libraries/Maven__com_jcraft_jzlib_1_1_1.xml
/.idea/libraries/Maven__org_eclipse_jgit_org_eclipse_jgit_5_1_3_201810200350_r.xml
/.idea/libraries/Maven__org_eclipse_jgit_org_eclipse_jgit_http_apache_5_1_3_201810200350_r.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_2_Final.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_5_1.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_config_server_3_0_4.xml
/.idea/samplePrgms.iml
/.idea/uiDesigner.xml
/.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_4.xml
/.idea/libraries/Maven__commons_io_commons_io_2_2.xml
/.idea/libraries/Maven__io_github_openfeign_feign_core_10_12.xml
/.idea/libraries/Maven__io_github_openfeign_feign_slf4j_10_12.xml
/.idea/libraries/Maven__io_github_openfeign_form_feign_form_3_8_0.xml
/.idea/libraries/Maven__io_github_openfeign_form_feign_form_spring_3_8_0.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_32_Final.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_5_1.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_openfeign_core_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_openfeign_3_0_3.xml
/.idea/libraries/Maven__org_springframework_spring_aspects_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_orm_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_3_8.xml
/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/.idea/libraries/Maven__com_fasterxml_woodstox_woodstox_core_6_2_1.xml
/.idea/libraries/Maven__com_google_code_gson_gson_2_8_7.xml
/.idea/libraries/Maven__com_google_guava_guava_19_0.xml
/.idea/libraries/Maven__com_google_inject_guice_4_1_0.xml
/.idea/libraries/Maven__com_netflix_eureka_eureka_client_1_10_14.xml
/.idea/libraries/Maven__com_netflix_eureka_eureka_core_1_10_14.xml
/.idea/libraries/Maven__com_netflix_netflix_commons_netflix_eventbus_0_3_0.xml
/.idea/libraries/Maven__com_netflix_netflix_commons_netflix_infix_0_3_0.xml
/.idea/libraries/Maven__com_netflix_servo_servo_core_0_12_21.xml
/.idea/libraries/Maven__com_stoyanr_evictor_1_0_0.xml
/.idea/libraries/Maven__com_sun_jersey_contribs_jersey_apache_client4_1_19_1.xml
/.idea/libraries/Maven__com_sun_jersey_jersey_client_1_19_4.xml
/.idea/libraries/Maven__com_sun_jersey_jersey_core_1_19_1.xml
/.idea/libraries/Maven__com_sun_jersey_jersey_server_1_19_4.xml
/.idea/libraries/Maven__com_sun_jersey_jersey_servlet_1_19_4.xml
/.idea/libraries/Maven__com_thoughtworks_xstream_xstream_1_4_16.xml
/.idea/libraries/Maven__commons_configuration_commons_configuration_1_10.xml
/.idea/libraries/Maven__commons_jxpath_commons_jxpath_1_3.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
/.idea/libraries/Maven__io_github_x_stream_mxparser_1_2_1.xml
/.idea/libraries/Maven__io_netty_netty_buffer_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_dns_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_http2_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_http_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_socks_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_common_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_handler_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_handler_proxy_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_dns_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_dns_native_macos_osx_x86_64_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_native_epoll_linux_x86_64_4_1_65_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_native_unix_common_4_1_65_Final.xml
/.idea/libraries/Maven__io_projectreactor_addons_reactor_extra_3_4_3.xml
/.idea/libraries/Maven__io_projectreactor_netty_reactor_netty_core_1_0_7.xml
/.idea/libraries/Maven__io_projectreactor_netty_reactor_netty_http_1_0_7.xml
/.idea/libraries/Maven__io_projectreactor_reactor_core_3_4_6.xml
/.idea/libraries/Maven__javax_inject_javax_inject_1.xml
/.idea/libraries/Maven__javax_ws_rs_jsr311_api_1_1_1.xml
/.idea/libraries/Maven__joda_time_joda_time_2_3.xml
/.idea/libraries/Maven__org_antlr_antlr_runtime_3_4.xml
/.idea/libraries/Maven__org_antlr_stringtemplate_3_2_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_math_2_2.xml
/.idea/libraries/Maven__org_codehaus_jettison_jettison_1_4_0.xml
/.idea/libraries/Maven__org_freemarker_freemarker_2_3_31.xml
/.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_cache_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_freemarker_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_reactor_netty_2_5_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_webflux_2_5_1.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_gateway_server_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_loadbalancer_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_eureka_client_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_eureka_server_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_gateway_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_loadbalancer_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_netflix_eureka_client_3_0_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_netflix_eureka_server_3_0_3.xml
/.idea/libraries/Maven__org_springframework_spring_context_support_5_3_8.xml
/.idea/libraries/Maven__org_springframework_spring_webflux_5_3_8.xml
/.idea/libraries/Maven__xmlpull_xmlpull_1_1_3_1.xml
/micro-service/micro-service.iml
/.idea/samplePrgms1.iml
